<!-- issue page -->
<div>
    <h2 class="display-2 my-3">Details</h2>
  <dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">{{issue.title}}</dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9"><span class="badge badge-danger">{{issue.category}}</span></dd>
  
    <dt class="col-sm-3">Income</dt>
    <dd class="col-sm-9">{{issue.income}}</dd>
  
    <dt class="col-sm-3">Outcome</dt>
    <dd class="col-sm-9">{{issue.outcome}}</dd>

    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">2019.01.01.</dd>
  
    
  
    <dt class="col-sm-3">User</dt>
    <dd class="col-sm-9">gyozke</dd>
  
  
  </dl>
  
  <p>
    <a class="btn btn-primary" [routerLink]="['/budgets',issue.id,'edit']" role="button">Edit</a>
    <button class="btn btn-outline-danger" role="button" (click)="handleDelete()">Delete</button>
  </p>
  </div>