<!-- new form page -->
<div>

  <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title" required
      [class.is-invalid]="title.invalid && (title.dirty || title.touched)"
      [class.is-valid]="title.valid">
      <div class="invalid-feedback">
        Please provide a title!
      </div>
    </div>
    <div class="form-group">
      <label for="income">Income</label>
      <input formControlName="income" type="number" class="form-control" id="income" rows="5" required
      [class.is-invalid]="income.invalid && (income.dirty || income.touched)"
      [class.is-valid]="income.valid">
      <div class="invalid-feedback">
        Please provide a income!
      </div>
    </div>
    <div class="form-group">
      <label for="place">Outcome</label>
      <input formControlName="outcome"  type="number" class="form-control" id="outcome" placeholder="Outcome" required
      [class.is-invalid]="outcome.invalid && (outcome.dirty || outcome.touched)"
      [class.is-valid]="outcome.valid">
      <div class="invalid-feedback">
        Please provide a outcome!
      </div>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input formControlName="category"  type="text" class="form-control" id="category" placeholder="Category"required
      [class.is-invalid]="category.invalid && (category.dirty || category.touched)"
      [class.is-valid]="category.valid">
    
      <div class="invalid-feedback">
          Please provide a category!
        </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="budgetForm.invalid">Submit</button>
  
  </form>
  </div>